* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1F2833;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Menu mobile */
.icon-mobile {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.icon-mobile i{
    color: white;
    font-size: 26px;
    cursor: pointer;
}

.menu-mobile {
    width: 100%;
}

.menu-mobile ul {
    list-style: none;
    text-align: center;
}

.menu-mobile ul li {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #C5C6C7;
}

li a {
    color: #66FCF1;
    text-decoration: none;
    font-size: 21px;
}

.menu-mobile ul li a:hover {
    color: #45A29E;
    transition: .5s;
}

/* Fim do menu mobile */

/* Menu Desktop */
.menu-desktop {
    display: none;
}

.menu-desktop ul {
    display: flex;
    gap: 60px;
    padding: 1rem 0;
    list-style: none;
}

.active a{
    color: #45A29E;
}

.active span {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    top: 3px;
    background-color: #45A29E;
    animation: line 1.5s;
}

/* Fim do Menu Desktop*/

/* Animação do hover no menu */
@keyframes line {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

main {
    width: 100%;
}

/* Home Section */
.home {
    width: 80%;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
}

.right-container {
    order: 1;
}

.img-person {
    width: 200px;
    max-width: 100%;
    height: 200px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 auto;
}

.left-container {
    order: 2;
    margin-top: 2rem;
}

.home-title h2{
    text-align: center;
    color: #66FCF1;
    font-size: 34px;
}

.home-title span {
    width: 115px;
    height: 1px;
    background-color: #45A29E;
    display: block;
    position: relative;
    left: 47%;
    margin: .4rem 0;
}

.home-content {
    color: #C5C6C7;
    width: 100%;
    margin: 1rem auto;
    font-size: 15px;
    line-height: 22px;
}

.home-socialmedia {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.home-socialmedia i {
    font-size: 45px;
    color: #66FCF1;
    padding: 0 .2rem;
}

/* Fim do Home Section */

/* Formações Section */
.formacoes {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
    border-bottom: 1px solid #45A29E;

}

.formacoes-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacoes-title h2 {
    text-align: center;
    font-size: 34px;
    color: #66FCF1;
}

.formacoes-title span {
    width: 89px;
    height: 1px;
    display: block;
    background-color: #45A29E;
    position: relative;
    left: 55%;
    top: 6px;
}

.formacao-single {
    display: flex;
    width: 100%;
    gap: 21px;
    margin: 20px 0;
}

.formacao-single img {
    width: 45px;
    height: 45px;
}

.formacao-single p {
    font-size: 15px;
    line-height: 22px;
    color: #C5C6C7;
}

/* Fim do Formacao Section */

/* Projetos Section */
.projetos {
    padding: 49px 0;
    width: 80%;
    margin: 0 auto;
}

.projetos-title h2{
    font-size: 34px;
    color: #66FCF1;
    text-align: center;
}

.projetos-title span {
    width: 78px;
    height: 1px;
    position: relative;
    background-color: #45A29E;
    display: block;
    left: 50%;
    top: 6px;
    margin-bottom: 62px;
}

.projeto-single {
    width: 80%;
    height: 151px;
    margin: 26px auto;
    background-color: #ccc;
}

/* Fim do Projetos Section */

@media screen and (min-width: 768px) { /* A partir de dispositivos tablet */
    .icon-mobile {
        display: none;
    }

    .menu-mobile {
        display: none;
    }

    .menu-desktop {
        display: block;
    }

    .home-title span{
        left: 50%;
    }
}

@media screen and (min-width: 1080px){ /* A partir de notebooks */
    .home {
        flex-direction: row;
        justify-content: center;
        gap: 200px;
    }

    .left-container {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .left-container p {
        max-width: 500px;
    }

    .home-socialmedia {
        margin: 1rem 0;
        text-align: left;
    }

    .right-container {
        order: 2;
    }

    .formacoes-container {
        width: 40%;
    }
}