* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

html {scroll-behavior: smooth;}

body {background-color: #1F2833;}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Menu mobile */
.icon-mobile {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.icon-mobile i{
    color: white;
    font-size: 26px;
    cursor: pointer;
}

.menu-mobile {
    width: 100%;
}

.menu-mobile ul {
    list-style: none;
    text-align: center;
}

.menu-mobile ul li {
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid #C5C6C7;
}

li a {
    color: #66FCF1;
    text-decoration: none;
    font-size: 21px;
}

.menu-mobile ul li a:hover {
    color: #45A29E;
    transition: .5s;
}

/* Fim do menu mobile */

/* Menu Desktop */
.menu-desktop {display: none;}

.menu-desktop ul {
    display: flex;
    gap: 60px;
    padding: 1rem 0;
    list-style: none;
}

.active a{
    color: #45A29E;
}

.active span {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    top: 3px;
    background-color: #45A29E;
    animation: line 1.5s;
}

/* Fim do Menu Desktop*/

main {
    width: 100%;
    overflow: hidden;
}

/* Home Section */
.home {
    width: 80%;
    margin: 0 auto;
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
}

.right-container {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-container img {
    width: 200px;
    max-width: 100%;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 0px rgba(102,252,241,0.75);
    position: relative;
    animation: fotoPerfil 1.6s ease-in-out infinite;
}

.left-container {
    order: 2;
    margin-top: 2rem;
}

.home-title h2{
    text-align: center;
    color: #66FCF1;
    font-size: 34px;
    font-weight: normal;
}

.home-title span {
    width: 115px;
    height: 1px;
    background-color: #45A29E;
    display: block;
    position: relative;
    left: 47%;
}

.home-content {
    color: #C5C6C7;
    width: 100%;
    margin: 1rem auto;
    font-size: 15px;
    line-height: 22px;
}

.home-socialmedia {
    width: 80%;
    margin: 1rem auto;
    text-align: center;
}

.home-socialmedia i {
    font-size: 45px;
    color: #66FCF1;
    padding: 0 .2rem;
}

/* Fim do Home Section */

/* Formações Section */
.formacoes {
    width: 80%;
    margin: 4rem auto;
    padding: 60px 0;
    border-bottom: 1px solid #45A29E;
}

.formacoes-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacoes-title h2 {
    text-align: center;
    font-size: 34px;
    color: #66FCF1;
    font-weight: normal;
}

.formacoes-title span {
    width: 89px;
    height: 1px;
    display: block;
    background-color: #45A29E;
    position: relative;
    left: 55%;
}

.formacao-single {
    display: flex;
    width: 100%;
    gap: 21px;
    margin: 20px 0;
}

.formacao-single img {
    display: none;
    width: 45px;
    height: 45px;
}

.formacao-single p {
    font-size: 15px;
    line-height: 22px;
    color: #C5C6C7;
}

.logos-mob {
    display: flex;
    gap: 36px;
    padding-top: 24px;
}

.logos-mob img {
    width: 50px;
    height: 50px;
}

/* Fim do Formacao Section */

/* Projetos Section */
.projetos {
    padding: 83px 0;
    width: 80%;
    margin: 0 auto;
}

.projetos-title h2{
    font-size: 34px;
    color: #66FCF1;
    text-align: center;
    font-weight: normal;
}

.projetos-title span {
    width: 78px;
    height: 1px;
    position: relative;
    background-color: #45A29E;
    display: block;
    left: 50%;
    margin-bottom: 62px;
}

.projetos-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}

.projeto-single {
    width: 100%;
    height: 200px;
    background-color: #ccc;
    position: relative;
    box-shadow: 0px 0px 30px 0px rgba(44, 105, 101, 0.75);
}

.projeto-single img {
    width: 100%;
    height: 100%;
}

.projeto-single:hover {
    box-shadow: 0px 0px 30px 0px rgba(102,252,241,0.75);
    animation: animProjeto .2s forwards;

    & > .overlay {opacity: 1;}
}

.overlay {
    position: absolute;
    top: 0;
    padding: 1rem;
    background-color: #272727ea;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay p {
    color: #C5C6C7; 
    font-size: 15px;
}

.projeto-btn {
    margin: 1rem 0;
    padding: 0.2rem 1rem;
    border: 0;
    width: 150px;
    background-color: #45A29E;
    border-radius: 20px;
    cursor: pointer;
}

.projeto-btn:hover {
    background-color: #3b8b87;
    transition: .3s;
}

.projeto-btn a {
    color: #66FCF1;
    text-decoration: none;
    font-size: 15px;
}
/* Fim do Projetos Section */

/* Inicio da Tecnologias Section */
.tecnologias {
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
    border-top: 1px solid #45A29E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologias-title h2{
    text-align: center;
    color: #66FCF1;
    font-weight: normal;
    font-size: 34px;
}

.tecnologias-title span {
    width: 80px;
    height: 1px;
    display: block;
    position: relative;
    background-color: #45A29E;
    left: 60%;
}

.tecnologias-content {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 2rem;
}

.tecnologias-single img {
    width: 50px;
    height: 50px;
}

.tecnologias-single p {
    font-size: 15px;
    color: #C5C6C7;
}
/* Fim Tecnologias Section */

/* Inicio Contato Section */
form.hidden {display: none;}

.contato {
    width: 80%;
    border-top: 1px solid #45A29E;
    margin: 1rem auto;
    padding: 2rem 0;
    text-align: center;
}

.contato-title h2 {
    color: #66FCF1;
    font-weight: normal;
    font-size: 34px;
}

.contato-title span {
    width: 60px;
    height: 1px;
    display: block;
    position: relative;
    background-color: #45A29E;
    left: 54%;
}

.contato-content {
    margin: 2rem 0;
}

.contato-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contato-buttons button{
    width: 250px;
    height: 38px;
    font-size: 15px;
    background-color: #45A29E;
    color: #66FCF1;
    border: 0;
    cursor: pointer;
}

.contato-buttons button:hover {background-color: #3b8b87;}

.form {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.input-nome, .input-email {
    position: relative;
    padding: 1rem 0;
}

.input-nome input, .input-email input {
    width: 100%;
    height: 38px;
    background-color: rgba(255,255,255,0);
    border: 0;
    border-bottom: 1px solid #45A29E;
    outline: 0;
    padding-left: 1rem;
    font-size: 15px;
    color: #C5C6C7;
    z-index: 5;
}

.input-nome p, .input-email p {
    text-align: left;
    position: absolute;
    left: 1rem;
    z-index: -1;
}

/* Classes js */
.no-focus-mob {
    top: 20px;
    color: #45A29E;
}

.focusMob {
    top: 20px;
    font-size: 18px;
    color: #66FCF1;
    animation: focusMob 1s forwards;
}

.no-focus-tablet {
    top: 35px;
    font-size: 24px;
    color: #45A29E;
}

.focusTablet {
    top: 22px;
    font-size: 24px;
    color: #66FCF1;
    animation: focusTablet 1s forwards;
}

.no-focus-desktop {
    top: 25px;
    font-size: 24px;
    color: #45A29E;
}

.focusDesktop {
    top: 25px;
    font-size: 24px;
    color: #66FCF1;
    animation: focusDesktop 1s forwards;
}

.form-email, .form-wpp {
    animation: aparecendo 2s forwards;
}
/* Fim classes JS */

.form textarea {
    margin: 1rem 0;
    height: 200px;
    background-color: rgba(255,255,255,0);
    border: 1px solid #45A29E;
    border-radius: 20px;
    padding: 1rem;
    outline: 0;
    color: #C5C6C7;
    font-size: 15px;
    resize: none;
}

.form textarea::-webkit-input-placeholder {color: #45A29E;}

form .err-msg::-webkit-input-placeholder {color: red;}

.form input[type=submit] {
    background-color: #45A29E;
    border: 0;
    width: 80%;
    height: 38px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 600;
    color: #66FCF1;
    border-radius: 20px;
    box-shadow: 2px 2px 15px 0px rgba(102, 252, 242, 0.39);
    cursor: pointer;
}

.form input[type=submit]:hover {background-color: #3b8b87;}
/* Fim Contato Section */

/* Inicio Footer */
.footer {
    width: 100%;
    padding: 1rem 0;
    border-top: 1px solid #45A29E;
}

.footer p {
    text-align: center;
    font-size: 15px;
    color: #66FCF1;
    padding: .5rem;
}

/* Animações */
@keyframes fotoPerfil { /* Foto de perfil flutuando */
    0% {top: 0;}

    50% {top: -10px;}

    100% {top: 0;}
}

@keyframes aparecendo { /* Formulários aparecendo */
    0% {opacity: 0;}

    100% {opacity: 1;}
}

@keyframes focusMob { /* Foco input mobile*/
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes focusTablet { /* Foco input tablet */
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes focusDesktop { /* Foco input desktop*/
    100% {
        top: 0;
        left: 0;
    }
}

@keyframes line { /* Animação de hover do menu*/
    from {width: 0;}

    to {width: 100%;}
}

@keyframes animProjeto { /* Animação de hover dos projetos */
    0% {top: 0;}

    100% {top: -15px;}
}

@media screen and (min-width: 768px) { /* A partir de dispositivos tablet */
    .icon-mobile {display: none;}

    .menu-mobile {display: none;}

    .menu-desktop {display: block;}

    .home-title span{left: 54%;}

    .home-title h2, .formacoes-title h2,
    .projetos-title h2, .tecnologias-title h2,
    .contato-title h2 {font-size: 46px;}

    .home-content p, .formacao-single p,
    .overlay p, .tecnologias-single p, 
    .footer p {
        font-size: 24px;
        line-height: 30px;
    }

    .formacoes-title span {left: 65%;}

    .formacao-single img {display: block;}

    .logos-mob {display: none;}

    .projetos-title span {left: 53%;}

    .tecnologias-title span {left: 72%;}

    .tecnologias-single img {
        width: 65px;
        height: 65px;
    }

    .contato-title span {left: 55%;}

    .contato-buttons button{
        font-size: 24px;
        width: 400px;
    }

    .input-nome, .input-email {padding: 2rem 0;}

    .form input[type=text], .form input[type=email],
    .form textarea, .form input[type=submit] {
        font-size: 24px;
    }

}

@media screen and (min-width: 1080px){ /* A partir de notebooks */
    .home {
        flex-direction: row;
        justify-content: center;
        gap: 200px;
    }

    .left-container {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .home-title h2, .formacoes-title h2,
    .projetos-title h2, .tecnologias-title h2,
    .contato-title h2 {font-size: 52px;}

    .home-title span {
        width: 168px;
        left: 48%;
    }
    
    .home-content p {max-width: 520px;}

    .home-socialmedia {
        margin: 1rem 0;
        text-align: left;
    }

    .right-container {order: 2;}

    .right-container img {
        width: 350px;
        height: 350px;
    }

    .formacoes-container {width: 40%;}

    .formacoes-title span {
        width: 168px; 
        left: 40%;
    }

    .formacao-single img {display: block;}

    .projetos-title h2 {font-size: 52px;}
    
    .projetos-title span {
        width: 130px;
        left: 49%;
    }

    .projetos-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 70px;
    }

    .projeto-single {
        max-width: 100%;
        height: 327px;
    }

    .overlay {padding: 2rem;}

    .projeto-btn {width: 250px;}

    .projeto-btn a {font-size: 24px;}

    .tecnologias-title span {width: 130px;}

    .tecnologias-content {
        grid-template-columns: repeat(5, 1fr);
        gap: 97px;
    }

    .tecnologias-single img {
        width: 85px; 
        height: 85px;
    }

    .contato-title span {
        width: 130px;
        left: 49%;
    }

    .contato-buttons button {width: 44%;}

    .form {
        width: 40%; 
        margin: 2rem auto;
    }

    .input-nome, .input-email {padding: 2rem 0;}

    .form span {font-size: 24px;}

    .form input[type=submit] {
        width: 50%;
        height: 52px;
    }
}